<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Data Enrichment</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-repeat="error in api_errors">
          {{ error }}
        </div>
        
        <form ng-submit="reconcile()">
          <div class="form-group">
            <label for="reconciliation-json">Select Enrichment Data JSON File</label>
            <input id="reconciliation-json" type="file" class="form-control" ng-model="reconciliationJSON" file-change="check()" />
          </div>

          <button type="submit" class="btn btn-primary" ng-disabled="processing">
            <span ng-if="!processing">Submit</span>
            <span ng-if="processing">Processing Data...</span>
          </button>
          
        </form>

        <h3 class="text-success">{{ successMessage }}</h3>
        <div ng-if="reconciliationErrors.length > 0">
          <ul style="list-style: none">
            <li class="text-danger" ng-repeat="error in reconciliationErrors">{{ error }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
