<form ng-submit="changeHit()" ng-controller="HitFormCtrl" class="form-panel">
  <div ng-repeat="error in errors.name" class="text-danger"><strong> Error: {{ error }}</strong></div>
  <label for="hit-name-{{hit.id}}">Name</label>
  <input class="form-control" type="text" ng-model="tempHit.name"/>
  <br/>
  <h5>Scope</h5>
  <div ng-controller="AddOrSelectCtrl">
    <ui-select ng-model="tempHit.scope">
      <ui-select-match placeholder="Select scope or add new one...">
        <span>{{ $select.selected.scope || $select.search }}</span>
        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)">
          <i class="fa fa-times"></i>
        </a>
      </ui-select-match>
      <ui-select-choices repeat="scope in (scopes | filter: { scope: $select.search }) track by scope.id" refresh="refreshResults($select)" refresh-delay="0">
        <span>{{scope.scope}}</span>
      </ui-select-choices>
    </ui-select>
  </div>


  <div class="form-group">
    <h5>Display</h5>
    <div ng-repeat="error in errors.hidden" class="text-danger"><strong> Error: {{ error }}</strong></div>
    <label class="radio-inline">
      <input type="radio" name="display" id="radio-preferred-{{ hit.id }}" value="preferred" ng-model="tempHit.display"/>Preferred
    </label>
    <label class="radio-inline">
      <input type="radio" name="display" id="radio-hidden-{{ hit.id }}" value="hidden" ng-model="tempHit.display"/>Hidden
    </label>
    <label class="radio-inline">
      <input type="radio" name="display" id="radio-normal-{{ hit.id }}" value="normal" ng-model="tempHit.display"/>Normal
    </label>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit"/>
    <button class="btn btn-warning" ng-click="displayHit($event)">Cancel</button>
  </div>
</form>
